body {
    margin: 60px auto;
    color: #3e3d3d;
    background:#ffffff;
    width: 80%;
    font-family: 'Arvo',serif;
}
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #9a9696;
}
a:hover {
    color: #fffafa;
    text-shadow: 0 0 5px #666;
}
h1 {
    font-size: 2em;
}

h1,h2,h3{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.6em;
}

p {

    line-height: 180%
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}
img.border{
    border: 6pm solid #E1F1F6;
}

img.alignleft {
    float: left;
    margin-right: 25px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#wrapper {
    margin: 0px auto;
    padding: 0;
}

#header{
    overflow:hidden;
    width: 900px;
    margin:0 auto;
}

#logo{
    margin: 0;
    padding: 45px 0px 15px 0px;
    color: #333333;
}

#logo h1, #logo p{
    margin: 0;
    padding: 0;
}

#logo h1{
    display: block;
    letter-spacing: -3px;
    text-align: center;
    font-size: 2em;
}

/* Menu */
#menu-wrapper{
    height: 50px;
    color:#333;
}

#menu {
    width: 900px;
    height: 50px;
    margin: 0px auto 0 auto;
    padding: 0px 40px;
    text-align: center;
    color: #C0C0C0;
}

#menu ul{
    margin: 0;
    padding: 0px 0px 0px 0px;
}

#menu li {
    display:inline-block;
    border-radius: 10px;
}

#menu a {
    display:inline-block;
    height:50px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #d2d2d2;
    border: none;
}

#menu .current_page_item a {
    background:#3a3939;
}

#menu a:hover {
    backgound: #3a3939;
}

/* Page */
#page{
    overflow:hidden;
    width: 900px;
    margin: 0px auto;
}

#content {
    float:left;
    width:540px;
}

.post {
    margin-bottom:30px;
    padding: 40px 40px;
    background: rgba(192,192,192,0.3);
}

.post .title{
    padding-bottom:20px;
    letter-spacing: -1px;
    color: #333333;
}

.post .meta{
    padding-bottom: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.post .meta a {
}

.post .entry {
    text-align: justify;
    margin-bottom: 25px;
    padding: 10px 0px 0px 0px;
}

/* Sidebar */
#sidebar{
    float: right;
    float: right;
    width: 290px;
    padding: 40px 20px;
    background: rgba(192,192,192,0.3);
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 15px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    padding: 12px 0 20px 15px;
    letter-spacing: -1px;
    color: #333;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
}

#sidebar a {
    border: none;
    color: #333;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #3a3939;
}

#about {
    overflow: hidden;
    width: 820px;
    margin: 30px auto 30px auto;
    padding: 40px 40px;
    background: rgba(0,0,0,0);
}

#about .title{
    padding-bottom: 30px;
    letter-spacing: -1px;
    color: #333;
}











