<!DOCTYPE html>
<html>
	<head>
		<title> {{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel = "stylesheet" type = "text/css" href ="/css/main.css">
	</head>

	<body>
		
		{{content}}

		</div><!-- /.containder-->
	</div> <!--/.wrapper-->
		<footer>
		<ul>
			<li> <a href = "mailto:wc23@indiana.edu">email</a></li>
			<li> <a href = "https://github.com/roisevege">Github</a></li>
			<li> <a href = "https://www.linkedin.com/pub/wen-chen/b7/4a8/b3b">Linkedin</a></li>
		</ul>
		</footer>
	</body>
</html>